body{
    font-family: 'Montserrat', sans-serif;
    background-color: 	#181818;
    color: white;

}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    margin-right: 10px;
}

#nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-left: 0;

}

ul{
    margin-left: 500px;
    font-size: 17px;
}

h1{
}

h2{
    font-size: 32px;
    margin-top: 250px;
}

p{
    text-align: center;
}

#header, hr, ::marker{
    display: none;
}

.img-metehan{
    margin-left: 200px;
}

.img-jiwoo{
    margin-right: 200px;
}
